<html>

<head>
    <title>VueJs App</title>
    <link type="text/css" rel="stylesheet" href="http://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="http://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="container">
            <div>
                <h3>Jawaban Quiz 5 - Fullstack Web Developer</h3><br>
                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                    <b-form-group id="input-group-2" label="Nama :" label-for="input-2">
                        <b-form-input id="input-2" v-model="form.nama_lengkap" type="text" required placeholder="">
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-3" label="Domisili :" label-for="input-3">
                        <b-form-input id="input-3" v-model="form.domisili" type="text" required placeholder="">
                        </b-form-input>
                    </b-form-group>
                    <br>
                    <b-button type="reset" variant="danger">Reset</b-button>
                    <b-button type="submit" variant="success">{{ form_action }}</b-button>

                </b-form> <br>
                <h3>Hasil Input</h3><br>
                <b-table id="my-table" :items="items" :fields="fields" :per-page="perPage" :current-page="currentPage"
                    striped hover>
                    <template v-slot:cell(actions)="row">
                        <b-button size="sm" @click="edit(row.item, row.index, $event.target)"
                            class="mr-1 btn btn-warning">
                            Edit
                        </b-button>
                        <b-button size="sm" @click="del(row.item, row.index, $event.target)"
                            class="mr-1 btn btn-danger">
                            Del
                        </b-button>
                    </template>
                </b-table>
                <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table">
                </b-pagination>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="now.js"></script>
</body>

</html>